
<div align="center">
<div class="well well-lg">

  <h1>Welcome</h1>
  <h1>to</h1>
  <h1>customRepair</h1>
  <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p></div>

</div>